@inherits LayoutComponentBase
    @* <main class="bg-gray">
        <NavMenu />
        <article class=" bg-gray"> *@
            @Body
        @* </article>
    </main> *@

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
<FluentToastProvider MaxToastCount="10" Position="ToastPosition.BottomRight"
 @rendermode="RenderMode.InteractiveServer" />
<FluentMessageBarProvider @rendermode="RenderMode.InteractiveServer" />

