@inherits LayoutComponentBase
@layout AccountLayout

<smpatients.Components.Layout.MainLayoutWrapper>
<div class=" card"  >
    <div class="card-body">
    <h2>Manage your account</h2>
    <hr />
    <div class="row ">
            @Body
    </div>
    </div>
</div>
</smpatients.Components.Layout.MainLayoutWrapper>